<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="disabled"
	bootstrap="test/bootstrap.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    colors="true">
	<logging>
		<log type="coverage-clover" target="./build/logs/clover.xml"/>
        <log type="coverage-html" target="./build/report" lowUpperBound="35" highLowerBound="70"/>
	</logging>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./source</directory>
        </whitelist>
    </filter>
    <!--<listeners>-->
        <!--<listener class="PHPUnit\XHProfTestListener\XHProfTestListener">-->
            <!--<arguments>-->
                <!--<array>-->
                    <!--<element key="xhprofLibFile">-->
                        <!--<string>/var/www/xhprof_lib/utils/xhprof_lib.php</string>-->
                    <!--</element>-->
                    <!--<element key="xhprofRunsFile">-->
                        <!--<string>/var/www/xhprof_lib/utils/xhprof_runs.php</string>-->
                    <!--</element>-->
                    <!--<element key="xhprofWeb">-->
                        <!--<string>http://localhost/xhprof_html/index.php</string>-->
                    <!--</element>-->
                    <!--<element key="appNamespace">-->
                        <!--<string>Doctrine2</string>-->
                    <!--</element>-->
                    <!--<element key="xhprofFlags">-->
                        <!--<string>XHPROF_FLAGS_CPU,XHPROF_FLAGS_MEMORY</string>-->
                    <!--</element>-->
                    <!--<element key="xhprofIgnore">-->
                        <!--<string>call_user_func,call_user_func_array</string>-->
                    <!--</element>-->
                <!--</array>-->
            <!--</arguments>-->
        <!--</listener>-->
    <!--</listeners>-->
	<testsuites>
		<testsuite name="General">
            <directory suffix="Test.php">./test/Parser</directory>
            <directory suffix="Test.php">./test/Encoding</directory>
            <directory suffix="Test.php">./test/Content</directory>
		</testsuite>
	</testsuites>
</phpunit>
