<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="disabled"
	bootstrap="test/bootstrap.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    colors="true">
	<logging>
		<log type="coverage-clover" target="./build/logs/clover.xml"/>
        <log type="coverage-html" target="./build/report" lowUpperBound="35" highLowerBound="70"/>
	</logging>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./source</directory>
        </whitelist>
    </filter>
	<testsuites>
		<testsuite name="General">
            <file>./test/ParserTest.php</file>
			<directory suffix="Test.php">./test/Content</directory>
		</testsuite>
	</testsuites>
</phpunit>
